* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    background-color: rgb(70, 68, 68);
    color: white;
    height: 75px;
    transform: rotate(180deg);
    display: flex;
    justify-content: flex-end;
    padding: .5em;
    margin-bottom: 1em;
}

button {
    color: black;
    background-color: gray;
}
